{% include 'base.html.twig' %}


{% block body %}
	<style>
		body {
			background: #000000 url('https://imag.malavida.com/mvimgbig/download-fs/risk-of-rain-2-22989-1.jpg')no-repeat fixed center top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;;
			background-size: contain;
		}
		.section {
			background-color: rgba(0, 0 , 0, 0.8);
			color: rgb(190, 190, 190);
			border-radius: 50px;
			text-align: center;
			margin-left: 50px;
			margin-right: 50px;
		}
		table {
			position: relative;
            margin: 5%;
			border-collapse: collapse;
		}
		td,
		tr {
			margin: 10%;
			border: 1px solid silver;
		}
	</style>
	<div class='section'>
		<div class='pagePres'>
			<h1>Les Monstres</h1>
			<p>Les monstres sont des entités hostiles et constituent la principale menace pour les survivants . Il y a 35 monstres de 4 catégories différentes actuellement dans le jeu, et des informations à leur sujet peuvent être consultées dans le journal de bord.</P>
			<p>
				Les boss (à ne pas confondre avec Teleporter Boss ) sont une catégorie de monstres avec une santé et des dégâts beaucoup plus élevés, 
				et sont en tant que tels plus menaçants pour le joueur que la plupart des monstres ordinaires.</p>
			<p>Tout monstre donné a 1% de chances de laisser tomber son Monster Log si un joueur du groupe n'a pas encore acquis cette entrée. Si le monstre est un boss téléporteur,
			un boss spécial ou une horde multiple, cette chance d'apparition est de 3 % à la place. 
			Ces chances de chute sont affectées par le Trèfle à 57 feuilles et/ou Pureté du joueur qui bat le monstre.</p>
			<h2>
				Les variantes d'élite des ennemis</h2>
			<p>Avant d'entrer dans les statistiques et les caractéristiques de chaque ennemi, vous devez savoir que chaque ennemi a une chance d'apparaître en tant que variante Elite.
				Ces élites sont beaucoup plus coriaces que la normale et peuvent s'appliquer à la fois aux ennemis réguliers et aux boss. 
				La probabilité qu'un ennemi se reproduise en tant qu'élite, de manière assez prévisible, commence faible mais augmente plus vous survivez longtemps dans une course.</p>

			<p>Il existe trois types d'élites que vous pouvez rencontrer, et chacune est reconnaissable à sa couleur distincte (voir ci-dessous). 
				Quelle que soit la variante, toutes les élites bénéficient de 4,7 fois la santé et de 2 fois les dégâts de leur homologue habituel, elles ne doivent donc pas être prises à la légère, 
				en particulier dans les dernières étapes d'une course, lorsque les ennemis deviennent de toute façon assez costauds.</p>

			<p>Les <span style="color: rgb(234.09,54,0)">élites flamboyantes</span> sont colorées en rouge, laissent derrière elles une traînée de feu qui endommage les joueurs qui entrent en contact avec elle, et leurs attaques peuvent enflammer le joueur pour 4 ticks des dégâts de l'élite.
			 Les <span style="color: rgb(150.7,255,241.5)">élites glaciaires</span> sont de couleur bleu clair et leurs attaques ralentissent considérablement le joueur à chaque coup. Ils exploseront peu de temps après la mort, alors assurez-vous d'être hors de portée avant que cela ne se produise.
			Les <span style="color: rgb(50.2,90.8,193.2)">élites en surcharge</span> sont colorées en bleu foncéet ont 50 % de leur santé convertie en boucliers qui se rechargent rapidement ; et leurs attaques infligent une explosion électrique à chaque coup.</p>
		</div>
		<h3>Les monstres commun</h3>

		<table>
				<tr>
				    <td>Logo</td> 
					<td>Nom</td>
					<td>Description</td>
					<td>environnement</td>
				</tr>
			{% for monstre in monstreC %}
				<tr>
                <td>
                    {%  if (monstre.logo != '')%}
                    <img  src="{{ monstre.logo }}" decoding="async" width="120" height="80"  class=" ls-is-cached lazyloaded" data-file-width="256" data-file-height="256">
                    {% endif %}
					<td>{{ monstre.nom }}</td>
					<td>{{ monstre.description }}</td>
				    <td>{{ monstre.environnement }}</td>

				</tr>

			{% endfor %}
			</table>

		<h3>Les Boss</h3>

		<table>
				<tr>
				    <td>Logo</td> 
					<td>Nom</td>
					<td>Description</td>
					<td>environnement</td>
				</tr>
			{% for monstre in monstreB %}
				<tr>
				<td>
                    {%  if (monstre.logo != '')%}
                    <img  src="{{ monstre.logo }}" decoding="async" width="120" height="80"  class=" ls-is-cached lazyloaded" data-file-width="256" data-file-height="256">
                    {% endif %}
					<td>{{ monstre.nom }}</td>
					<td>{{ monstre.description }}</td>
				    <td>{{ monstre.environnement }}</td>
					

				</tr>

			{% endfor %}
			</table>

		<h3>Les boss spéciaux</h3>

		<p>Ces boss n'apparaissent pas naturellement mais ont des exigences particulières pour le faire.
		</p>

	<table>
				<tr>
				    <td>Logo</td> 
					<td>Nom</td>
					<td>Description</td>
					<td>environnement</td>
				</tr>
			{% for monstre in monstreBS %}
				<tr>
				<td>
                    {%  if (monstre.logo != '')%}
                    <img  src="{{ monstre.logo }}" decoding="async" width="120" height="80"  class=" ls-is-cached lazyloaded" data-file-width="256" data-file-height="256">
                    {% endif %}
					<td>{{ monstre.nom }}</td>
					<td>{{ monstre.description }}</td>
				    <td>{{ monstre.environnement }}</td>
					

				</tr>

			{% endfor %}
			</table>

		<h3>Les autres</h3>

		<table>
				<tr>
				    <td>Logo</td> 
					<td>Nom</td>
					<td>Description</td>
					<td>environnement</td>
				</tr>
			{% for monstre in monstreA %}
				<tr>
				<td>
                    {%  if (monstre.logo != '')%}
                    <img  src="{{ monstre.logo }}" decoding="async" width="120" height="80"  class=" ls-is-cached lazyloaded" data-file-width="256" data-file-height="256">
                    {% endif %}
					<td>{{ monstre.nom }}</td>
					<td>{{ monstre.description }}</td>
				    <td>{{ monstre.environnement }}</td>
					

				</tr>

			{% endfor %}
			</table>

	</div>
</div>{% endblock %}
